# ----------------------
# Flask
# ----------------------
flask==1.1.2
keras==2.2.4
keras_preprocessing==1.1.0
tensorflow==1.7.0
pickle-mixin==1.0.2
numpy==1.22.0


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
